body, #create-post-div, #user-list-div, #new-post-analysis-div {
	margin: 1%;
}

#header-div, #create-post-div, #user-list-div, #new-post-analysis-div {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#header-div {
	text-align: center;
}

.analyzer {
	margin: 0.5%;
}